@import "mainVariables"

*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: 'Open Sans', sans-serif

body
  svg
    display: block

*:focus
  outline: none !important

.container
  width: 90%
  margin: 0 auto

.navigationSection
  background: #f37121

.navigation
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  height: 100px
  background: transparent

.navLogo img
  align-items: flex-start
  +setWidthAndHeight(80px, 80px)
  padding: 10px
  border: 3px solid $mainColorPurple
  border-radius: 57% 43% 58% 42% / 39% 51% 49% 61%
  display: block
  max-width: 100%
  height: auto

.navList
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  font-size: 16px
  ul
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    li
      margin: 30px
      list-style-type: none
      a
        letter-spacing: 1.2px
        font-weight: 600
        text-decoration: none
        text-transform: uppercase
        color: #ffffff

.navList
  a:hover
    color: $mainColorPurple


.btnNavbar
  margin-bottom: 10px

.btnContact
  padding: 10px 40px
  background: $mainColorOrange
  border: none
  border-radius: 35px
  text-transform: uppercase
  color: $mainColorWhite

.btnContact:hover
  background: $mainColorPurple


.btnContact:focus
  background: $mainColorOrange
  border-color: $mainColorOrange
  color: $mainColorWhite

.headerSection
  background: #f37121
  position: relative
  height: 500px

.imageBanner
  img
    position: absolute
    width: 300px
    height: 300px
    z-index: 1000000
    right: 10%
    top: 5%
    transform: translate(10%, 5%)
    transform: rotate(5deg)
    display: block


.custom-shape-divider-bottom-1611917006
    position: absolute
    z-index: 20000
    bottom: 0
    left: 0
    width: 100%
    overflow: hidden
    line-height: 0
    background: #f37121

.custom-shape-divider-bottom-1611917006 svg
    position: relative
    display: block
    width: calc(115% + 1.3px)
    height: 150px

.custom-shape-divider-bottom-1611917006 .shape-fill
  fill: #ffffff

.headerContent
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

.headerTexts
  margin-top: 70px

.headerTexts
  h2
    font-size: 5rem
    font-weight: bold
    letter-spacing: 1.5px
    color: $mainColorWhite

.headerTexts
  span
    color: $mainColorPurple
    font-weight: bolder
    text-transform: uppercase


.headerTexts
  p
    letter-spacing: 1.3px
    font-size: 22px
    margin-top: 30px
    width: 70%
    color: $mainColorWhite
    font-size: 1.8rem

.btnLearnMore
    margin-top: 30px
    padding: 10px 40px
    background: $mainColorPurple
    border: 1px solid $mainColorWhite
    border-radius: 35px
    text-transform: uppercase
    font-weight: bolder
    color: $mainColorWhite

.btnLearnMore:hover
    background: $mainColorWhite
    border: none
    color: $mainColorPurple

//Section #2
.servicesContainer
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  justify-content: space-around
  counter-reset: css-counter 0
  margin: 10px 0

.servicesTitles
  margin-bottom: 45px

.servicesTitles
  h3
    color: $mainColorPurple
    font-size: 4rem
    font-weight: bold
    letter-spacing: 4px

.servicesContent
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

.serviceItem
  margin: 0 15px
  padding: 50px 20px
  text-align: center
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  counter-increment: css-counter 1
  width: 30%
  position: relative
  border: 2px solid $mainColorPurple
  border-radius: 10px
  box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.3)

.serviceImgMark
    position: absolute
    width: 90px !important
    height: 90px !important
    top: -3%
    right: 5%


.serviceItem:first-child
  margin-left: 0

.serviceItem:last-child
  margin-right: 0

.serviceItem
  h4
    font-size: 2.5rem
    color: $mainColorOrange

.serviceItem
  p
    color: $mainColorPurple
    font-size: 1.5rem
    margin: 30px 0

.serviceItem
  button
    padding: 10px 40px
    color: $mainColorPurple
    font-size: 1.5rem
    font-weight: bold
    border: 2px solid $mainColorPurple
    background: $mainColorWhite
    text-transform: uppercase

.serviceItem
  button:hover
    color: $mainColorWhite
    border: 2px solid $mainColorOrange
    background: $mainColorOrange

.serviceItem
  span
    position: absolute
    display: block
    top: 2%
    left: 5%
    font-size: 5rem
    color: #828282

.serviceItem
  span::before
    content: "0" counter(css-counter)

.serviceItem
  img
    +setWidthAndHeight(60px, 60px)

//Section #3
.productContainer
  display: flex
  justify-content: space-between
  align-items: center
  margin: 15px 0 20px 0

.productLeftContainer
  img
    +setWidthAndHeight(100%, 100%)

.productProsItem
  display: flex
  justify-content: center
  align-items: center
  margin: 20px 0 20px 0

.productRightContainer
  margin-left: 80px

.itemImg
  img
    +setWidthAndHeight(65px, 65px)

.itemTitles
  margin-left: 20px

.itemTitles
  h3
    color: #f37121
    font-weight: bold

.itemTitles
  p
    margin-top: 15px
    color: #828282
    font-size: 15px

//S4: pricingTitles
#ourPricingPlans, #productAdvantages
  background: $mainColorPurple

.pricingPlansContainer
  text-align: center
  display: flex
  flex-direction: column
  justify-content: space-between
  margin-bottom: 100px

.pricingTitles
  margin-bottom: 50px

.pricingTitles
  h3
    color: $mainColorWhite
    font-size: 4rem
    font-weight: bold
    letter-spacing: 2px
    margin-bottom: 80px

.pricingContent
  display: flex
  flex-direction: row
  justify-content: space-around
  align-items: center
  flex-wrap: wrap

.pricingItem
  position: relative
  z-index: 0
  width: 400px
  height: auto
  padding: 15px
  box-shadow: 2px 3px 8px 5px rgba(0,0,0, 0.6)
  border-radius: 20px
  // background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,239,0,1) 35%, rgba(154,0,255,1) 100%)
  background: $mainColorWhite

.pricingItemTexts
  margin-top: 55px
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center

.pricingItemTexts
  ul
    flex: 1 1 auto

.pricingItemTexts
  ul
    li
      list-style-type: none

.pricingItemTexts
  h4
    font-size: 3rem
    text-transform: uppercase
    letter-spacing: 2px
    font-weight: bolder
    color: $mainColorPurple
    margin-bottom: 35px

.pricingItemImg1
    width: 125px
    height: 120px
    position: absolute
    z-index: 1
    top: -12%
    right: 35%

.pricingItemImg2
  width: 90px
  height: 90px
  position: absolute
  z-index: 1
  top: 1%
  right: 1%

.pricingItemImg22
  width: 90px
  height: 90px
  position: absolute
  z-index: 1
  top: -10%
  right: -3%

.pricingItemImg222
  width: 90px
  height: 90px
  position: absolute
  z-index: 1
  top: -8%
  right: -6%

.pricingItemTexts
  ul
    li
      font-size: 18px
      margin-left: 25px
      color: $mainColorPurple
      margin-bottom: 20px
    li::before
      position: absolute
      left: 5%
      display: block
      content: url("../images/halloween-party.png")

.pricingItemTexts
  button
    padding: 10px 40px
    color: $mainColorWhite
    text-transform: uppercase
    letter-spacing: 2px
    font-weight: bolder
    background: $mainColorBlack
    border: 2px solid $mainColorWhite

.pricingItemTexts
  button:hover
    color: $mainColorBlack
    background: $mainColorWhite
    border-color: $mainColorBlack

.custom-shape-divider-bottom-1612187025
    z-index: -1
    position: absolute
    border-radius: 20px
    bottom: 0
    left: 0
    width: 100%
    overflow: hidden
    line-height: 0
    transform: rotate(180deg)


.custom-shape-divider-bottom-1612187025 svg
    position: relative
    display: block
    width: calc(100% + 1.3px)
    height: 130px


.custom-shape-divider-bottom-1612187025 .shape-fill
    fill: $mainColorPurple

//Section #5: testimonials
.testimonialMainContent
  text-align: center
  margin-top: 100px
  display: flex
  flex-direction: column
  justify-content: space-between

.testimonialsTitles
  h3
    font-size: 4rem
    font-weight: bolder
    letter-spacing: 2px
    color: $mainColorPurple

.testimonialsTitles
  p
    margin: 0 auto
    width: 80%
    font-size: 1.8rem
    color: #828282
    margin-top: 40px

.testimoniaContent
  margin-top: 50px

//Slider Section
.slider-body
  padding: 0 0 20px 0
  display: flex
  justify-content: center
  align-items: center

.slider
  position: relative
  width: 100%
  height: 350px
  overflow: hidden

.slides
  position: absolute
  width: 300%
  height: 100%
  top: 0
  left: 0
  transition: 2s ease

.slide
  width: 33.33%
  height: 100%
  position: relative
  float: left
  background-size: cover
  background-position: center center
  background-repeat: no-repeat

.slide::before
  content: ""
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: #ffffff

.slide-data
  position: absolute
  top: 50%
  transform: translateY(-50%)
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  color: #fff
  padding: 0 13% 5% 13%

.slide-content
  border: none
  border-radius: 20px
  padding: 20px
  position: relative
  width: 400px
  background: $mainColorPurple

.slide-texts
  text-align: center
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.stabilizeBtn
  flex: 1 1 auto

.slide-texts
  h3
    font-weight: bold
    color: $mainColorWhite
    letter-spacing: 2px

.slide-texts
  p
    color: $mainColorWhite
    margin: 15px 0 25px

.slide-content
  img
    position: absolute
    top: -25%
    left: -5%
    +setWidthAndHeight(80px, 80px)

.slider .arrows
  position: absolute
  top: 40%
  transform: translateY(-50%)
  background: none
  outline: none
  border: none
  font-size: 80px
  color: $mainColorPurple
  transition: 0.4s linear

.slider .prev
    left: 20%

.slider .next
    right: 20%

.dots
    position: absolute
    bottom: 0%
    left: 50%
    transform: translate(-50%, -50%)
    width: auto
    text-align: center
    border: 1px solid $mainColorPurple
    border-radius: 35px

.dots
  span
    width: 10px
    height: 10px
    border-radius: 10px
    margin: 0 6px
    background-color: #000000
    display: inline-block
    transition: 0.4s linear

.dots:hover
  cursor: pointer

.dot-active
    background-color: $mainColorPurple !important
    border: 4px solid $mainColorPurple

//Contact Section
.contactSection
  background: $mainColorOrange
  position: relative
  height: 350px
  margin-top: 20px

.custom-shape-divider-top-1612010432
    position: absolute
    top: 0
    left: 0
    width: 100%
    overflow: hidden
    line-height: 0

.custom-shape-divider-top-1612010432 svg
    position: relative
    display: block
    width: calc(100% + 1.3px)
    height: 200px
    transform: rotateY(180deg)

.custom-shape-divider-top-1612010432 .shape-fill
  fill: #FFFFFF

//Contact form
.contactContainer
  display: flex
  flex-direction: row
  justify-content: space-between
  position: relative

.contactForm
  border: none
  box-shadow: 3px -3px 10px rgba(0,0,0, 0.6)
  border-radius: 15px
  background: #ffffff
  position: absolute
  z-index: 1
  left: -1%
  transform: translateX(-1%)
  margin-top: 50px
  padding: 15px
  text-align: center

.contactFormContent
  display: grid
  gap: 20px
  grid-template: repeat(3, auto) / repeat(2, auto)

.footerContainer
  background: $mainColorOrange

.contactFormContent
  input, textarea
    border: 2px solid $mainColorOrange
    border-radius: 3px
    padding: 10px

.contactFormContent
  input:focus,
  textarea:focus
    outline: none !important
    border-color: $mainColorPurple

.contactFormContent
  textarea
    resize: none

.input1
  grid-row: 1/2
  grid-column: 1/2

.input2
  grid-row: 1/2
  grid-column: 2/3

.input3
  grid-row: 2/3
  grid-column: 1/3

.contactTexts
  margin: 130px 0 0 700px

.contactTexts
  h3
    color: $mainColorWhite
    font-size: 3rem
    font-weight: bold

.contactTexts
  p
    color: #ffffff
    margin-top: 20px
    font-size: 1.5rem

.contactTexts
  ul
    margin-top: 30px
    display: flex
    justify-content: flex-start
    align-items: center
    flex-direction: row
  li
    list-style-type: none
    margin: 0 20px 0 0
  li > a > img
    +setWidthAndHeight(35px, 35px)

.footerContainer
  p::before
    content: ""
    width: 90%
    height: 1px
    background: #ffffff
    display: block
    margin: 40px auto


.footerContainer
  padding: 50px 0
  text-align: center
  p
    color: $mainColorWhite
    letter-spacing: 2px
    margin-bottom: 0
